{% extends 'quotes/base.html' %}

{% block content %}
<div class="container mt-3">
    {{ form.errors }}
    {{ form.non_field_errors }}
    <h2>Confirm Password Reset</h2>
    <p></p>
    <p>Please enter your new password twice to confirm the password reset.</p>
    <p></p>
    <div class="container mt-3">
        <form method="post">
            {% csrf_token %}
            <strong>{{ form.new_password1.label_tag }}</strong><br> {{ form.new_password1 }}<br>
            <i>{{ form.new_password1.help_text }}</i><br>
            <strong>{{ form.new_password2.label_tag }}</strong><br> {{ form.new_password2 }}<br>
            <button type="submit">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}