{% extends 'quotes/base.html' %}

{% block content %}

</div class="author-details">
  <h2 class="author-title">Додати цитату</h2>
  <form method="post" action="{% url 'quotes:add_quote' %}">
    {% csrf_token %}
    <p>
      <span class="author-description">{{ form.quote.label_tag }}</span>
      <span>{{ form.quote }}</span>
    </p>
    <p>
      <span class="author-born-date">{{ form.tags.label_tag }}</span>
      <span>{{ form.tags }}</span>
      <span class="help-text">{{ form.tags.help_text }}</span>
    </p>
    <p>
      <span class="author-born-location">{{ form.author.label_tag }}</span>
      <span>{{ form.author }}</span>
    </p>
    <button type="submit">Зберегти</button>
    <input type="reset" value="Скинути">
  </form>
</div>

{% endblock %}